/images/*
!/images/.gitkeep
/metashape/*
!/metashape/.gitkeep
metashape/.DS_Store
metashape/model.files/.DS_Store
python/undo/__pycache__/__init__.cpython-39.pyc
python/undo/__pycache__/point_cloud.cpython-39.pyc
python/undo/__pycache__/primitives.cpython-39.pyc
grasshopper/.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
python/Undo.egg-info/dependency_links.txt
python/Undo.egg-info/dependency_links.txt
python/Undo.egg-info/SOURCES.txt
python/Undo.egg-info/top_level.txt
python/undo/__pycache__/production_data.cpython-39.pyc
python/Undo.egg-info/dependency_links.txt
python/Undo.egg-info/requires.txt
python/Undo.egg-info/SOURCES.txt
python/Undo.egg-info/top_level.txt
