<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="abb_crb15000_dual_cell">
  <xacro:include filename="$(find abb_crb15000_dual_support)/urdf/crb15000_5_95_macro.xacro"/>

  <xacro:abb_crb15000_5_95 prefix="robotA_"/>
  <xacro:abb_crb15000_5_95 prefix="robotB_"/>

  <link name="world" />

  <joint name="robotA_joint" type="fixed">
    <parent link="world" />
    <child link="robotA_base_link" />
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <joint name="robotB_joint" type="fixed">
    <parent link="world" />
    <child link = "robotB_base_link" />
    <origin xyz="1.212360107012198	-0.014652473443031614	-0.002578851287850591" rpy="0.0011315789942580382	0.0015785551488194651	3.1324382669315396"/> 
  </joint>

</robot>